.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30vh;
  color: white;
  font-family: monospace;
}
.skillsHeading {
  color: darkslategray;
}

.skillsProgress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.skillsProgressInner {
  width: 300px;
  height: 150px;
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
  border-radius: 15px;
}
.skillsProgressInnerText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-bottom: 10px;
}
progress {
  border-radius: 7px;
  width: 80%;
  height: 10px;
}
progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: #ffe633;
  border-radius: 7px;
}
@media only screen and (max-width: 600px) {
  .skills {
    height: auto;
    padding: 80px 0px 80px 0px;
  }
  .skillsProgress {
    flex-direction: column;
  }
  .skillsProgressInner {
    margin: 10px 10px 10px 10px;
  }
}
