footer {
  height: 30vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.icons {
  display: flex;
  flex-direction: row;
}
.socialIcons {
  margin: 0px 5px 0px 5px;
}
.socialIcons a {
  color: #1d3557;
}
.footerEndQuote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}
@media only screen and (max-width: 600px) {
  footer {
    height: auto;
    padding: 30px 30px 20px 30px;
  }
  .footerEndQuote {
    padding: 20px;
    font-size: 15px;
  }
}
